* {
	margin: 0;
	padding: 0;
	font-family: "Arial";
}

code {
	padding: .2em;
	border-radius: 0.2em;
    margin: 0;
    font-size: .85em;
    background-color: #f7f7f7;
    opacity: 0.8;
}

.font-a10000 {
	color: #a10000;
}

.font-bold {
	font-weight: bold;
}

.button {
	width: 100px;
	height: 30px;
	border-radius: 5px;
	border: 2px solid #000;
	color: #000;
	line-height: 30px;
	text-align: center;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.button:active {
	-webkit-transform: scale(0.85, 0.85);
	-ms-transform: scale(0.85, 0.85);
	-o-transform: scale(0.85, 0.85);
	transform: scale(0.85, 0.85);
}

.button__absolute {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.button__inline {
	display: inline-block;
}

.button__disabled {
	border: 2px solid #bbb;
	color: #ccc;
	background-color: #efefef;
	cursor: default;
}

.container {
	padding: 10px;
	box-sizing: border-box;
	background-image: url(./../assets/gridme.png);
	background-position: center center;
	background-repeat: repeat;
	background-size: 20px 20px;
    overflow: hidden;
    margin: 0 auto;
}

.container__wrapper {
	position: relative;
}

.container__absolute {
	position: absolute;
}

.container__info {
	right: 20px;
	top: 20px;
	text-align: right;
}

.container__options {
	z-index: 99;
	right: 20px;
	bottom: 100px;
}

.container__options select,
.container__options option {
	outline: none;
	border: none;
	background-color: transparent;
}

.container__notice {
	left: 0;
	bottom: 20px;
	width: 50%;
	text-align: center;
}

.checkbox__color {
	border-radius: 50%;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    border: 2px solid black;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}

.checkbox__color-selected::after {
	background-color: black;
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    position: absolute;
}

.checkbox__color + label {
	line-height: 30px;
	vertical-align: middle;
	display: inline-block;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	cursor: pointer;
}

#process__draw-color {
	display: none;
}

.process__type {
	display: inline-block;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.process__type > select {
	cursor: pointer;
}

.canvas__panel {
	border: 3px solid #a10000 !important;
	border-radius: 10px !important;
	z-index: 1;
}

.paragraph-padding {
    padding: 2px 0;
}

.notice__drop {
	z-index: 0;

	width: 600px;
    height: 200px;
    border: 3px dotted #000;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 50%;
    line-height: 200px;
    text-align: center;
    font-size: 30px;

    background-color: transparent;

	opacity: 0;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;

    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
}

.button__add {
	display: none;
}

#picture {
	display: none;
}

/**
 * Mobile
 */
@media (max-width: 720px) {
	.container__options {
		z-index: 99;
		left: 20px;
		bottom: 20px;
		max-width: 60px;
	}

	.container__info {
		font-size: 10px;
	}

	.button__add {
		display: block;
	    width: 60px;
	    height: 60px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -30px 0 0 -30px;

	    background-image: url(./../assets/add-btn.png);
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: contain;

	    z-index: 99;

	    -webkit-transition: all 0.8s;
	    -o-transition: all 0.8s;
	    transition: all 0.8s;
	}

	#select__options {
		display: none;
	}

	.container__notice {
		display: none;
	}

	.button__absolute {
		z-index: 99;
	}
	
	.button {
		width: 80px;
	}
}
