.opacity__animate {
    -webkit-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
}

.loading {
    width: 50px;
    height: 70px;
    text-align: center;
    font-size: 10px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -25px;
}

.loading > div {
    background-color: #2f2f2f;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loading .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loading .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.load__area {
    text-align: center;
}

.cursor,
.cursor__text {
    font-size: 0.2rem;
    display: inline-block;
    font-weight: bold;
}

.cursor__text::before {
    font-size: 0.14rem;
    font-weight: normal;
    content: "Having Fun with ";
}

.cursor {
    font-size: 0.2rem;
    -webkit-animation: blink 0.7s ease-out;
    -moz-animation: blink 0.7s ease-out;
    -o-animation: blink 0.7s ease-out;
    -ms-animation: blink 0.7s ease-out;
    animation: blink 0.7s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.start__btn {
    font-size: 0.2rem;
    border-radius: 0.05rem;
    width: 0.9rem;
    height: 0.24rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.45rem;
    border: 0.01rem #2f2f2f solid;
    opacity: 0;
    z-index: 99;
}

@-webkit-keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


@-webkit-keyframes stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
