* {
  box-sizing: border-box; }
  
 
/* webkit, opera, IE9 */
::selection { background:#60b17c; color:#fff;}
/* mozilla firefox */
::-moz-selection { background:#60b17c;; color:#fff;} 
  
body {
  padding: 0px;
  margin: 0px;
  /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "黑体";*/
  font-family:"Open Sans", "Lucida Grande", "Tahoma", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000; 
  overflow-x:hidden;}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
	color:#000;
    text-decoration: none; }

.c{
	width:100%;
	overflow:hidden;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(96, 177, 124, 1);
  background-color: rgba(96, 177, 124, 0.08);
  border-color: rgba(96, 177, 124, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  padding: 0.55rem 0.8rem; }
.btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(96, 177, 124, 0.8);
  text-decoration: none;
  background-color: rgba(96, 177, 124, 0.2);
  border-color: rgba(96, 177, 124, 0.3); }

/*@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }*/

.social_button{z-index:2;width:20px;height:20px;filter:alpha(opacity=40);opacity:0.4;transition: opacity 0.3s, filter 0.3s;}
.social_button:hover{filter:alpha(opacity=100);opacity:1}

.audio_div{z-index:2;width:20px;height:20px;filter:alpha(opacity=40);opacity:0.4;transition: opacity 0.3s, filter 0.3s;}
.audio_div:hover{filter:alpha(opacity=100);opacity:1}

.next_div{z-index:2;width:20px;height:20px;filter:alpha(opacity=40);opacity:0.4;transition: opacity 0.3s, filter 0.3s;}
.next_div:hover{filter:alpha(opacity=100);opacity:1}

.randon_div{z-index:2;width:20px;height:20px;filter:alpha(opacity=40);opacity:0.4;transition: opacity 0.3s, filter 0.3s;}
.randon_div:hover{filter:alpha(opacity=100);opacity:1}

.info_div{z-index:2;width:20px;height:20px;filter:alpha(opacity=40);opacity:0.4;transition: opacity 0.3s, filter 0.3s;}
.info_div:hover{filter:alpha(opacity=100);opacity:1}

.song_name{z-index:3;width:200px;height:40px;}

/* Navigation */
.Navigation_Button{position:absolute;margin-left:364px;margin-top:-280px;width:auto;font-size:20px;font-family:Arial}
.Navigation_Bar_List a {color: #60b17c;text-decoration: none; } 
.Navigation_Bar_List a:hover {color: #47845c;text-decoration: none; }

/* Notification */
@-ms-keyframes notification_button
{
	0% {margin-top:-450px;}
	10% {margin-top:-400px; opacity:1;}
	11% {margin-top:-1100px; opacity:0;}
	30%  {margin-top:-450px; opacity:0;}
	40% {margin-top:-450px; opacity:1;}
	100% {margin-top:-450px; opacity:1;}
}

@-moz-keyframes notification_button
{
	0% {margin-top:-450px;}
	10% {margin-top:-400px; opacity:1;}
	11% {margin-top:-1100px; opacity:0;}
	30%  {margin-top:-450px; opacity:0;}
	40% {margin-top:-450px; opacity:1;}
	100% {margin-top:-450px; opacity:1;}
}

@-webkit-keyframes notification_button
{
	0% {margin-top:-450px;}
	10% {margin-top:-400px; opacity:1;}
	11% {margin-top:-1100px; opacity:0;}
	30%  {margin-top:-450px; opacity:0;}
	40% {margin-top:-450px; opacity:1;}
	100% {margin-top:-450px; opacity:1;}
}


.Notification_Button{-ms-animation:notification_button 20s;-ms-animation-iteration-count:infinite;-moz-animation:notification_button 20s;-moz-animation-iteration-count:infinite;-webkit-animation:notification_button 20s;-webkit-animation-iteration-count:infinite; position:absolute;margin-left:1360px;margin-top:-450px;font-size:20px;font-family:Arial;z-index:2;background:url(../pic/chain.png);width:27px;height:282px;}

/* banner */
@-ms-keyframes tel /* IE */
{
	0% {font-size:18px;}
	10% {font-size:20px;}
	15% {font-size:18px;}
	100% {font-size:18px;}
}

@-moz-keyframes tel /* Firefox */
{
0% {font-size:18px;}
10% {font-size:20px;}
15% {font-size:18px;}
100% {font-size:18px;}
}

@-webkit-keyframes tel /* Safari 和 Chrome */
{
0% {font-size:18px;}
10% {font-size:20px;}
15% {font-size:18px;}
100% {font-size:18px;}
}

.banner{position:relative;left:50%;margin-left:-960px;width:1920px;z-index:1;height:600px;overflow:hidden}
.banner .download{position:relative;left:1000px;float:left;z-index:99;width:400px;height:50px;}
.banner .tel{/*-ms-animation: tel 5s; -ms-animation-iteration-count:infinite;*/	/* IE *//*-moz-animation: tel 5s; -moz-animation-iteration-count:infinite;*/	/* Firefox *//*-webkit-animation: tel 5s;-webkit-animation-iteration-count:infinite;*/	/* Safari 和 Chrome */position:relative;left:400px;width:400px;height:31px;float:left;line-height:30px; background-image:url(../pic/tel.png); z-index:99; font-size:18px; text-align:center}
.banner ul{position:absolute;width:1920px;height:600px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.banner ul li{float:left;left:0px;width:1920px;height:600px}
.banner .b_prev,.banner .b_next{z-index:2;position:absolute;display:block;width:38px;height:78px;top:250px;border-radius:5px;filter:alpha(opacity=40);opacity:0.4}
@media screen and (min-width: 64em) {
	.banner .b_prev{left:400px;}
	.banner .b_next{right:400px;}
	}
@media screen and (min-width: 42em) and (max-width: 64em) {
	.banner .b_prev{left:500px;}
	.banner .b_next{right:500px;}
	}
.banner .b_prev{background:url(../pic/bg.gif) 0 -191px no-repeat; transition: opacity 0.2s, filter 0.2s;}
.banner .b_next{background:url(../pic/bg.gif) -38px -191px no-repeat; transition: opacity 0.2s, filter 0.2s;}
.banner .b_prev:hover,.banner .b_next:hover{filter:alpha(opacity=70);opacity:0.7}
.banner .b_push{z-index:2;position:absolute;bottom:30px}
.banner .b_push a{width:15px;height:15px;border-radius:8px;-webkit-border-radius:8px;-ms-border-radius:8px;-moz-border-radius:8px;overflow:hidden;display:inline;float:left;margin-left:5px;background:#C4C4C4;transition: background 0.2s;}
.banner .b_push a:hover{background:#A0A0A0}
.banner .b_push a.on{background:#60b17c}

/* banner-resume */
.banner-resume{position:relative;left:50%;margin-left:-960px;width:1920px;z-index:1;height:600px;overflow:hidden}
.banner-resume .download{position:relative;left:450px;float:left;z-index:99;margin-top:254px;}
.banner-resume .download a{font-size:18px;}
.banner-resume .tel{position:relative;left:400px;width:400px;height:31px;float:left;line-height:30px; background-image:url(../pic/tel.png); z-index:99; font-size:18px; text-align:center}
.banner-resume ul{position:absolute;width:1920px;height:600px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.banner-resume ul li{float:left;left:0px;width:1920px;height:600px}

/* tail */
.tail{position:relative;left:50%;margin-left:-960px;width:1920px;z-index:1;height:270px;}
.tail img{background-image:url(../pic/aleen.svg);background-position:-200px 20px;background-size:100%;background-repeat:no-repeat;}
/* not shown for IE */
.tail img{-ms-background-position-x:-1000px;}

/* first-page */
.first-page {position:relative;margin-bottom:0px;left:50%;margin-left:-960px;width:1920px;z-index:1;height:765px;overflow:hidden}
.first-page  ul{position:absolute;width:1920px;height:765px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.first-page ul li{float:left;left:0px;width:1920px;height:765px}

/* second-page */
.second-page {position:relative;margin-bottom:0px;left:50%;margin-left:-960px;width:1920px;z-index:1;height:1236px;overflow:hidden}
.second-page  ul{position:absolute;width:1920px;height:1236px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.second-page ul li{float:left;left:0px;width:1920px;height:1236px}

/* third-page */
.third-page {position:relative;margin-bottom:0px;left:50%;margin-left:-960px;width:1920px;z-index:1;height:1471px;overflow:hidden}
.third-page  ul{position:absolute;width:1920px;height:1471px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.third-page ul li{float:left;left:0px;width:1920px;height:1471px}

/* fourth-page */
.fourth-page {position:relative;margin-bottom:0px;left:50%;margin-left:-960px;width:1920px;z-index:1;height:1537px;overflow:hidden}
.fourth-page  ul{position:absolute;width:1920px;height:1537px;overflow:hidden;list-style:none;-webkit-padding-start:0px;  -webkit-margin-before:0px;-webkit-margin-after:0px}
.fourth-page ul li{float:left;left:0px;width:1920px;height:1537px}

.page-header-resume {
  color:#FFF;
  text-align: center;
  position:relative;
  left:50%;
  margin-left:-960px;
  width:1920px;
  height:400px;
  padding: 5rem 6rem;
/*  background-image: linear-gradient(120deg, #155799, #159957); */
  background-image:url(../pic/page_header_resume.gif); 
  z-index:2}

/*@media screen and (min-width: 64em) {
  .page-header-resume {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header-resume {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header-resume {
    padding: 2rem 1rem; } }*/

.project-name-resume {
  margin-top: 50px;
  margin-bottom: 0.1rem;
  font-size: 6rem; }

/*@media screen and (min-width: 64em) {
  .project-name-resume {
    font-size: 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name-resume {
    font-size: 4rem; } }

@media screen and (max-width: 42em) {
  .project-name-resume {
    font-size: 2rem; } }*/

.project-tagline-resume {
  margin-bottom: 0px;
  font-weight: normal;
  opacity: 1;
  font-size: 2.5rem; }

/*@media screen and (min-width: 64em) {
  .project-tagline-resume {
    font-size: 2.5rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline-resume {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline-resume {
    font-size: 1rem; } }*/

.page-header {
  color:#FFF;
  text-align: center;
  position:relative;
  /*margin:0 auto;*/
  left:50%;
  margin-left:-960px;
  width:1920px;
  height:400px;
/*  background-image: linear-gradient(120deg, #155799, #159957); */
  background-image:url(../pic/page_header.gif);
  z-index:2;
  padding: 5rem 6rem; }

/*@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }*/

.project-name {
  margin-top: 50px;
  margin-bottom: 0.1rem;
  font-size: 6rem; }

/*@media screen and (min-width: 64em) {
  .project-name {
    font-size: 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 4rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 2rem; } }*/

.project-tagline {
  margin-bottom: 0px;
  font-weight: normal;
  opacity: 1; 
  font-size: 2.5rem; }

/*@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 2.5rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }*/

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-left:-50px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size:50px;
  color: #60b17c; }
.main-content p {
  margin-bottom: 0em;
  font-size:20px; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

.main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; }

/*@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }*/

.site-footer {
  padding-top: 2rem;
  margin-top: 100px;
  /*border-top: solid 1px #60b17c;*/
  font-size: 1rem; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

/*@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }*/

/* go top */
#gotop{z-index:999;width:50px;height:50px;filter:alpha(opacity=40);opacity:0.4;background:url(../pic/bg.gif) -110px -191px no-repeat;position:fixed;right:100px;bottom:50px;_position:absolute;transition: opacity 0.2s, filter 0.2s;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop)||0)-(parseInt(this.currentStyle.marginBottom)||0)-10))}
#gotop:hover{filter:alpha(opacity=80);opacity:0.8}

