body {
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Arial;
	overflow-x: hidden;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.container .header-title,
.header-subtitle {
    text-align: left;
    margin-left: 100px;
}

.container .header-title {
    font-size: 100px;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 10px;
}

.container .header-subtitle {
    font-size: 20px;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 150px;
}

.container img {
    width: 36px;
    height: 36px;
    margin: 0 30px;
    cursor: pointer;
    transition: opacity 0.4s;
    opacity: 0.7;
}

.container img:hover {
    opacity: 1;
}

.container #status {
	color: #fff;
	font-size: 60px;
    margin-bottom: 60px;
}

input[type = "button"] {
	width: 100px;
	height: 50px;
	background-color: #E86C4F;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin: 0 50px;
	outline: none;
}

input[type = "button"]:active {
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-o-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
}

.container #status.notify {
	-webkit-animation:1000ms notify-scale;
	-moz-animation:1000ms notify-scale;
	-ms-animation:1000ms notify-scale;
	-o-animation:1000ms notify-scale;
	animation:1000ms notify-scale;
}

.container #status.show {
	-webkit-animation:1000ms show-scale infinite;
	-moz-animation:1000ms show-scale infinite;
	-ms-animation:1000ms show-scale infinite;
	-o-animation:1000ms show-scale infinite;
	animation:1000ms show-scale infinite;	
}

/**
 * scale
 */
@keyframes notify-scale
{
0%   {transform: scale(1, 1); opacity: 0; color: #E86C4F;}
40%  {transform: scale(1.1, 1.1); opacity: 1; color: #E86C4F;}
100% {transform: scale(1, 1); opacity: 0; color: #E86C4F;}
}

@-moz-keyframes notify-scale /* Firefox */
{
0%   {-moz-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
40%  {-moz-transform: scale(1.1, 1.1); opacity: 1; color: #E86C4F;}
100% {-moz-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
}

@-webkit-keyframes notify-scale /* Safari and Chrome */
{
0%   {-webkit-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
40%  {-webkit-transform: scale(1.1, 1.1); opacity: 1; color: #E86C4F;}
100% {-webkit-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
}

@-o-keyframes notify-scale /* Opera */
{
0%   {-o-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
40%  {-o-transform: scale(1.1, 1.1); opacity: 1; color: #E86C4F;}
100% {-o-transform: scale(1, 1); opacity: 0; color: #E86C4F;}
}

/**
 * show
 */
@keyframes show-scale
{
0%   {transform: scale(1, 1); opacity: 0; color: #fff;}
40%  {transform: scale(1.05, 1.05); opacity: 1; color: #fff;}
100% {transform: scale(1, 1); opacity: 0; color: #fff;}
}

@-moz-keyframes show-scale /* Firefox */
{
0%   {-moz-transform: scale(1, 1); opacity: 0; color: #fff;}
40%  {-moz-transform: scale(1.05, 1.05); opacity: 1; color: #fff;}
100% {-moz-transform: scale(1, 1); opacity: 0;  color: #fff;}
}

@-webkit-keyframes show-scale /* Safari and Chrome */
{
0%   {-webkit-transform: scale(1, 1); opacity: 0;  color: #fff;}
40%  {-webkit-transform: scale(1.05, 1.05); opacity: 1;  color: #fff;}
100% {-webkit-transform: scale(1, 1); opacity: 0;  color: #fff;}
}

@-o-keyframes show-scale /* Opera */
{
0%   {-o-transform: scale(1, 1); opacity: 0;  color: #fff;}
40%  {-o-transform: scale(1.05, 1.05); opacity: 1;  color: #fff;}
100% {-o-transform: scale(1, 1); opacity: 0;  color: #fff;}
}